*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(150, 0, 0);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title {
    font-size: 3rem;
    text-align: center;
}
#description{
    margin: 20px auto;
    font-size: 1.2rem;
    text-align: center;

}

label,p{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    color: #222;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input,select,textarea,button{
    padding: 5px 10px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 10px;
}

button{
    margin-top: 10px;
    background-color: rgb(60, 236, 136);
    border: none;
    outline: none;
    padding: 10px 20px;
}

@media screen and (max-width: 768px){
    
}